<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Client Configuration -->
  <system.serviceModel>
    <bindings>
    </bindings>
    <client>
      <endpoint address="http://localhost:8732/cms"
          binding="basicHttpBinding" bindingConfiguration=""
          contract="ClassifierWebService.IClassifierServiceInterface" name="ClassifierServiceEndpoint">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>